<div class="table">
  <h2 class="table__title"> <%= t('.header') %> </h2>

  <table class="table__content">
    <thead>
      <tr>
        <th> <%= t('.question') %> </th>
        <th> Gist URL </th>
        <th> <%= t('.author') %> </th>
      </tr>
    </thead>

    <tbody>
      <% @gists.each do |gist| %>
        <tr>
          <td> <%= truncate(gist.question.body, length: 25, escape: false) %> </td>
          <td> <%= link_to gist.gist_url, gist.gist_url, target: '_blank' %> </td>
          <td> <%= gist.user.email %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
