<nav> <%= link_to 'На главную страницу', main_page_path %> </nav>

<div class='test-passage'>
  <h1> Прохождение теста <span class='test-passage__test-title'> <%= @test_passage.test.title %> </span> </h1>
  
  <p class="test-passage__test-info">
    Вопрос <%= @test_passage.current_question_serial_number %> / <%= @test_passage.test.questions.count %>
  </p>

  <h2> <%= @test_passage.current_question.body %> </h2>
  <%= form_with url: test_passage_path(@test_passage), method: :put, local: true do |form| %>
    <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body do |cb|%>
      <p>
        <%= cb.check_box %>
        <%= cb.label %>
      </p>
    <% end %>

    <p> <%= link_to 'Сохранить вопрос в gist github', gist_test_passage_path(@test_passage), method: :post %> </p>
    <p> <%= form.submit 'Выбрать' %> </p>
  <% end %>
</div>
