<%= form_with model: [:admin, @question, @answer], local: true do |form| %>
  <p class="form__field">
    <%= form.label :body  %>
    <%= form.text_area :body, id: :answer_body  %>
  </p>

  <p class="form__field form__field_checkbox">
    <%= form.label :is_correct  %>
    <%= form.check_box  :is_correct, id: :answer_is_correct  %>
  </p>

  <p class="form__action"> <%= form.submit t('.submit') %> </p>
<% end %>
