<%= render 'shared/errors', resource: @answer %>

<div class="form">
  <h1 class="form__title"> <%= t('.header') %> </h1>

  <div class="form__info">
    <p> <%= t('.info_test') %> : <span> <%= @answer.question.test.title %> </span> </p>
    <p> <%= t('.info_question') %> : <span> <%= @answer.question.body %> </span> </p>
  </div>

  <%= render 'form' %>
</div>
