<%= render 'shared/errors', resource: @question %>

<div class="form">
  <h1 class="form__title"> <%= t('.header') %> </h1>

  <div class="form__info">
    <p> <%= t('.info') %> : <span> <%= @question.test.title %> </span> </p>
  </div>

  <%= render 'form' %>
</div>
