<%= render 'shared/errors', resource: @test %>

<div class="tests table">
  <h2 class="table__title"> <%= t('.header') %> </h2>

  <table class="tests__table table__content">
    <thead>
      <tr>
        <th class="tests__title-th tests__title-th_asc">
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'arrow-up' %>
          <%= octicon 'arrow-down', class: 'arrow-down' %>
        </th>
        <th> <%= t('.category') %> </th>
        <th> <%= t('.level') %> </th>
        <th> <%= t('.questions-count') %> </th>
        <th> <%= t('.timer') %> </th>
      </tr>
    </thead>

    <tbody>
      <% @tests.each do |test| %>
      <tr class="tests-item">
        <td class="tests-item__title-td">
          <%= content_tag :span, test.title, class: 'tests-item__title', data: { test_id: test.id } %>
          <%= render 'update_inline_form', test: test %>
        </td>
        <td> <%= test.category.title %> </td>
        <td> <%= test.level %> </td>
        <td> <%= test.questions.count %> </td>
        <td> <%= test.timer || t('empty') %> </td>
        <td> <%= link_to t('.update-inline'),'#', class: 'table__subaction tests-item__action_update-inline', data: { test_id: test.id } %> </td>
        <td> <%= link_to t('.edit'), edit_admin_test_path(test), class: 'table__subaction' %> </td>
        <td> <%= link_to t('.delete'), admin_test_path(test), method: :delete, class: 'table__subaction' %> </td>
        <td>
          <% if isFilled?(test) %>
            <%= link_to t('.start'), start_test_path(test), method: :post, class: 'table__subaction tests-item__start' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to t('.new'), new_admin_test_path, class: 'table__action' %>
</div>
