<div class='tests container'>
    <h2 align='center' style='margin-bottom: 25px'> <%= t('.header') %> </h2>

    <%= render 'shared/resource_errors', resource: @test %>

    <table class='table table-sm borderless' >
      <tbody class='content'>
        <% @tests.each do |test| %>
          <tr>
            <td class='align-middle text-center'>
              <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
              <%= render 'edit_test_form', test: test %>
            </td>
            <td class='align-middle text-center'> 
              <%= link_to t('.start'), start_test_path(test), method: :post %> |
              <%= link_to 'Change title', '#', class: 'edit-test-form-link', data: { test_id: test.id } %> |
              <%= link_to t('.edit'), admin_test_path(test) %> |
              <%= link_to t('.delete'), admin_test_path(test), method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
