<div class='tests'>
  <h1> <%= t('.header') %> </h1>
  
  <% @tests.each do |test| %>
    <div class='tests__item'>
        <h2> <%= test.title %> </h2>

        <p> <%= t('.info') %> - <b><%= test.questions.count %></b> </p>
        <p> <%= t('.author') %> - <b><%= test.author.first_name.capitalize %> <%= test.author.last_name.capitalize %></b> </p>
        
        <p class='test__actions'>
          <%= link_to t('.start'), start_test_path(test), method: :post %> |
          <%= link_to t('.edit'), admin_test_path(test) %> |
          <%= link_to t('.delete'), admin_test_path(test), method: :delete %>
        </p>
    </div>
  <% end %>

  <p class='test__new'> <%= link_to t('.add'), new_admin_test_path(@test) %> </p>
</div>