<nav> <%= link_to 'На главную страницу', main_page_path %> </nav>

<div class='test'>

  <h1> Редактирование теста <span class='test__title'> <%= @test.title %> </span> </h1>

  <% @test.questions.each do |question| %>
    <div class='test__question'>
      <h2> <%= question.body %> </h2>

      <h3> Варианты ответов: </h3>

      <p class='test__question-answer-new'> <%= link_to 'Добавить новый ответ', new_admin_question_answer_path(question) %> </p>

      <% if question.answers.empty? %>
        <p> пока не добавлены </p>
      <% else %>
        <ul class='test__question-answers'>
          <% question.answers.each do |answer| %>
            <li> <%= answer.body %> <%= '(✓)' if answer.is_correct %> </li>
            <p class='test__question-answers-actions'>
              <%= link_to 'Редактировать ответ', edit_admin_answer_path(answer) %> |
              <%= link_to 'Удалить ответ', admin_answer_path(answer), method: :delete %>
            </p>
          <% end %>
        </ul>
      <% end %>

      <p class='test__question-actions'>
        <%= link_to 'Редактировать вопрос', edit_admin_question_path(question) %> |
        <%= link_to 'Удалить вопрос', admin_question_path(question), method: :delete %>
      </p>
    </div>
  <% end %>

  <p class='test__question-new'> <%= link_to 'Добавить новый вопрос', new_admin_test_question_path(@test) %> </p>
</div>
