<div class="tests table">
  <h2 class="table__title"> <%= t('.header') %> </h2>

  <table class="tests__table table__content" >
    <thead>
      <tr>
        <th class="tests__title-th tests__title-th_asc">
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'arrow-up' %>
          <%= octicon 'arrow-down', class: 'arrow-down' %>
        </th>
        <th> <%= t('.category') %> </th>
        <th> <%= t('.level') %> </th>
        <th> <%= t('.questions-count') %> </th>
        <th> <%= t('.timer') %> </th>
      </tr>
    </thead>

    <tbody>
      <% @tests.each do |test| %>
        <% if isFilled?(test) %>
          <tr class="tests-item">
            <td> <%= test.title %> </td>
            <td> <%= test.category.title %> </td>
            <td> <%= test.level %> </td>
            <td> <%= test.questions.count %> </td>
            <td> <%= test.timer || t('empty') %> </td>
            <td> <%= link_to t('.start'), start_test_path(test), method: :post, class: 'table__subaction tests-item__start' %> </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
